.player {
    display: flex;
    gap: 0.5em;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--blue-100);
    background-color: var(--blue-50);
    position: sticky;
    top: 75px;
    z-index: 100;
}

.dropdownToggle {
    background-color: transparent !important;
    border: none;
}

.dropdownToggle img {
    width: 30px;
    height: 30px;
    transition: transform 300ms ease;
}

.dropdownToggle:hover img {
    transform: scale(1.1);
}

.dropdownToggle::after {
    display: none;
}

.dropdownItem img {
    width: 25px;
    height: 25px;
    margin-right: 0.4em;
}

.dropdownSubmenu {
    cursor: pointer;
}

.tempoContainer {
    min-width: 300px;
    margin-right: 1em;
    margin-left: 1em;
}

.tempoContainer div {
    width: 100%;
}

.playBtn {
    margin-left: auto;
}

.addBtn {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 1000;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    font-size: 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}